//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=2 --force
//By: Giuseppe Petrosino
executor="sge"
queue="smp.q"
procs="1"
memory="2G"
sge_request_options="-S /bin/bash"
commands {
    AddUmiToFastq {
        procs="1"
        memory="2G"
    }
    Trimmomatic {
        procs="1"
        memory="2G"
    }
    Cutadapt {
        procs="1"
        memory="2G"
    }
    Cutadapt_pe {
        procs="1"
        memory="2G"
    }
    FastQC {
        procs="1"
        memory="2G"
    }
    FastqScreen {
        procs="openmp 4"
        memory="12"
    }
    Merge_fastq {
        procs="1"
        memory="2G"
    }
    Barcode5ends {
        procs="1"
        memory="2G"
    }
    Barcode3ends {
        procs="1"
        memory="2G"
    }
    bowtie2 {
        procs="openmp 4"
        memory="24G"
    }
    bowtie2_pe {
        queue="bcflong"
        procs="openmp 4"
        memory="24G"
    }
    BAMindexer {
        procs="1"
        memory="1G"
    }
    BamQC {
        procs="1"
        memory="2G"
    }
    umidedup {
        procs="1"
        memory="2G"
    }
    MarkDups {
       procs="1"
       memory="20G"
    }
    SingleReads5ends {
       procs="openmp 4"
       memory="24G"
    }
    SingleReads3ends {
       procs="openmp 4"
       memory="24G"
    }
    bam2bedD {
        procs="1"
        memory="4G"
    }
    bam2bedI {
        procs="1"
        memory="4G"
    }
    bam2bedD5ends {
        procs="1"
        memory="4G"
    }
    bam2bedI5ends {
        procs="1"
        memory="4G"
    }
    bedcoverage {
        procs="openmp 4"
        memory="8G"
    }
    bedcoverage3ends {
        procs="openmp 4"
        memory="8G"
    }
    bedcoverage5ends {
        procs="openmp 4"
        memory="8G"
    }
    bed2bw {
        procs="1"
        memory="4G"
    }
    rfd {
        procs="openmp 4"
        memory="4G"
    }
    macs2 {
        procs="1"
        memory="2G"   
    }
    bed2bz2 {
        procs="openmp 4"
        memory="2G"
    }
    breaks_annotation {
        procs="1"
        memory="2G"
    }
    breaks_detected {
        procs="1"
        memory="2G"
    }
    collectBpipeLogs {
        procs="1"
        memory="1G"
    }
    MultiQC {
        procs="1"
        memory="2G"
    }
    shinyReports {
        procs="1"
        memory="2G"
    }
}
