//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=2 --force
//By: Giuseppe Petrosino
executor="slurm"
queue="short"
commands {
    AddUmiToFastq {
        walltime="02:00:00"
        procs="1"
        memory="2"
    }
    Trimmomatic {
        walltime="02:00:00"
        procs="1"
        memory="2"
    }
    FastQC {
        walltime="02:00:00"
        procs="1"
        memory="2"
    }
    bowtie2 {
        walltime="04:00:00"
        procs="4"
        memory="24"
    }
    BAMindexer {
        walltime="01:00:00"
        procs="1"
        memory="1"
    }
    umidedup {
        walltime="02:00:00"
        procs="1"
        memory="2"
    }
    bam2bedD {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    bam2bedI {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    bedcoverage {
        walltime="03:00:00"
        procs="4"
        memory="8"
    }
    bed2bw {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    rfd {
        walltime="01:00:00"
        procs="4"
        memory="4"
    }
    macs2 {
        walltime="04:00:00"
        procs="1"
        memory="2"   
    }
    bed2bz2 {
        walltime="01:00:00"
        procs="4"
        memory="2"
    }
    breaks_annotation {
        walltime="04:00:00"
        procs="1"
        memory="1"
    }
    breaks_detected {
        walltime="04:00:00"
        procs="1"
        memory="1"
    }
    collectBpipeLogs {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
}
